@model IEnumerable<Emarket.Models.Product>

@{ 
    Emarket.Models.EmarketDBEntities db = new Emarket.Models.EmarketDBEntities();
    var Cart = db.Carts.ToList();


}


@{
    ViewBag.Title = "Emarket";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#aletmsg").click(function () {
            alert("Alert message");
        });

    });
</script>

<div class="container">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Go to Cart </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal color-->
                <div class="p-3 mb-2 bg-primary text-white">
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Cart List</h4>
                    </div>
                </div>
                <div class="modal-body">
                 @foreach (var item in Cart)
                    {
                    <table class="table table-striped ">
                        <tr>
                                <td>
                                    @Html.ActionLink("Remove", "Removefromcart", "Products", new { productid = item.product_id }, new { @class = "btn btn-info" })
                               
                                </td>
                                
                                    <td>
                                        <table>
                                            <tr>                         
                                                <td>@item.Product.name </td> 
                                                
                                            </tr>
                                            <tr>
                                                <td>@item.Product.price </td>
                                            </tr>
                                           <tr>
                                               
                                                <td> @item.added_at</td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                            </table>
                            } 
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>

                    </div>

                </div>
            </div>

        </div>
        <p>
            <h3 style="color:red">category list :</h3> will shaw you what our web application contain 
            <h2><b><span class="glyphicon glyphicon-list-alt ">Products</span></b></h2>
        </p>


        @Html.DropDownList("CategoryList", ViewBag.CategoryList as SelectList, "categories list")


        <p>
            @using (Html.BeginForm("Search", "products", FormMethod.Get))
            {
                <text> <b>Filter:</b></text>
                @Html.TextBox("key") <input type="submit" value="search" id="aletmsg" />

                //button of adding new product
                <a href="@Url.Action("Add")" class="btn btn-primary" style="padding-left:15px;">
                    <span class="glyphicon glyphicon-plus"></span>
                    new Product
                </a>
            }
        </p>
        @*  *@
                            <div class="row">
                                @foreach (var item in Model)

                                {
                                    <div class="col-sm-6 col-md-4" style="width:250px;">
                                        <div class="thumbnail" style="width:100%">
                                            <img src="@Url.Content(item.image)" alt="..." style="width:210px;max-width:210px;height:160px;max-height:160px;display:inline-block;">
                                            <div class="caption">
                                                <h3>@item.name</h3>
                                                <p>Price:@item.price</p>
                                                <p>
                                                    @Html.ActionLink("More info", "MoreInfo", "Products", new { id = item.id }, new { @class = "btn btn-info" })
                                                    @Html.ActionLink("Add To Card", "addtocart", "Products", new { product_id =item.id }, new { @class = "btn btn-info" })
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

