@model Emarket.Models.Product
@{
    ViewBag.Title = "details";
}

<br />
<div>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.name)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => modelItem.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Category.name)
            </td>

        </tr>
    </table>
    <div style="text-align:center;background-color:orangered;font-size:40px">
        @Html.DisplayFor(modelItem => modelItem.name) -      @Html.DisplayFor(modelItem => modelItem.price)
        (  @Html.DisplayFor(modelItem => modelItem.Category.name))
    </div>

</div>
<div class="thumbnail" style="width:100%">
    <img src="@Url.Content(Model.image)" alt="..." style="width:50%;max-width:50%;height:50%;max-height:50%;display:inline-block;" />
</div>

<div style="text-align:center">
    <h3>  @Html.DisplayFor(modelItem => modelItem.description) </h3>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Products", new { id = Model.id }, new { @class = "btn btn-info" })
    @Html.ActionLink("Delete", "Delete", "Products", new { id = Model.id }, new { @class = "btn btn-info" })

</p>
