@model IEnumerable<Emarket.Models.Product>

@{
    ViewBag.Title = "Search";
}
<p>
    <h3 style="color:red">Hint  :</h3>To know the categories click at dropdown list , then write your choise at filter & press enter or search
    <h2><b><span class="glyphicon glyphicon-list-alt ">Products</span></b></h2>
</p>

@Html.DropDownList("CategoryList", ViewBag.CategoryList as SelectList, "categories list")


<p>
    @using (Html.BeginForm("Search", "products", FormMethod.Get))
    {
        <text> <b>Filter:</b></text>
        @Html.TextBox("key") <input type="submit" value="search" />
    }
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@Url.Content(item.image)" alt="..." width="242" height="200">
                <div class="caption">
                    <h3>@item.name</h3>
                    <p>Price:@item.price</p>
                    <p>
                        @Html.ActionLink("More info", "MoreInfo", "Products", new { id = item.id }, new { @class = "btn btn-info" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>

